@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,600&display=swap');

.App {
  text-align: center;
  background-color: rgb(214, 214, 214);
  display: flex;
  font : "Poppins";
.bg-orange{
  background-color: rgb(243,150,120);
}

.bg-white{
  background: #fff;
}

.flex-view{
  display: flex;
  align-items:center;

}
}




