

.App {
  text-align: center;
  background-color: rgb(247, 245, 245);

.bg-white{
  background: #fff;
}

.flex-view{
  display: flex;
  align-items:center;

}
}

.bg-orange{
  background-color: rgb(243,150,120);
}



